RewriteEngine On
RewriteBase /projects/employee-management/

RewriteRule ^$ public/index.php?url=home [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]