<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/menu.css">
    <link rel="stylesheet" href="public/styles/global.css">
    <title>Menu</title>
</head>
<body>
    <section id="application">
        <div id="menu_container">
            <div id="menu">
                <div id="texts">
                    <p id="welcome">Bem-vindo, administrador.</p>
                    <p id="question">O que você quer fazer?</p>
                </div>
                <div id="actions">
                    <a id="blue_button" href="admin/employees">
                        <p>Colaboradores</p>
                    </a>
                    <a id="gray_button" href="employee/{{id}}">
                        <p>Meu perfil</p>
                    </a>
                    <a id="blue_button" href="logout">
                        <p>Sair</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>