#employees_container{
    max-height: 580px;
    overflow-y: scroll;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#employees{
    width: 80%;
    background-color: rgb(220, 220, 220);
    border-collapse: collapse;
    border-bottom: 3px solid #477CA8;
    table-layout: fixed;
}

thead{
    height: 50px;
    background-color: #477CA8;
    color: white;
}

td{
    padding: 15px;
}

tr:nth-child(even){
    background-color: rgb(210, 210, 210);
}

.pic_container{
    width: 100px;
    height: 100px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(127, 127, 127);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s all ease;
}

.user_pic{
    max-width: 100px;
    min-width: none;
    user-select: none;
    cursor: pointer;
    transition: 1s all ease;
}

.pic_container:hover{
    transform: scale(1.05);
}

#remove_container{
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #477CA8;
}

.select{
    color: white;
    cursor: pointer;
    user-select: none;
}

th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis; 
    white-space: normal;
}

@media (max-width: 560px){

    .pic_container{
        width: 60px;
        height: 60px;
    }

    .user_pic{
        width: 60px;
    }

}