#form_container{
    min-width: 10px;
    text-align: center;
    background-color: #e2e2e2;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 10px 50px rgb(166, 175, 194);
}

#text{
    font-size: 28px;
    font-weight: 600;
}

#form{
    margin-top: 20px;
    width: 500px;
}

.input_container{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input{
    transition: 0.5s all ease;
    min-width: 250px;
    height: 30px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    padding-left: 5px;
    font-size: 16px;
}

.input:focus{
    outline: none;
    font-size: 17px;
    border: 1px solid rgb(100, 100, 100);
    height: 35px;
}

#picture{
    width: 180px;
    height: 180px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(127, 127, 127);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s all ease;
}

#user_pic{
    position: relative;
    top: 50px;
    max-width: 200px;
    min-width: none;
    user-select: none;
    cursor: pointer;
}

#picture_input{
    display: none;
}

#info_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#submit_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    min-width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: 1px solid #8f8f8f;
    background-color: #477CA8;
}