<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/menu.css">
    <link rel="stylesheet" href="public/styles/global.css">
    <title>Welcome!</title>
</head>
<body>
    <section id="application">
        <div id="menu_container">
            <div id="menu">
                <div id="texts">
                    <p id="welcome">Bem-vindo ao Sistema</p>
                    <p id="blue_text">Gerenciador de Funcionário</p>
                </div>
                <div id="actions">
                    <a id="gray_button" href="register">
                        <p>Registar</p>
                    </a>
                    <a id="blue_button" href="login">
                        <p>Logar</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>