<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/auth.css">
    <link rel="stylesheet" href="public/styles/global.css">
    <title>Login</title>
</head>
<body>
    <section id="application">
        <div id="form_container">
            <p id="text">Faça Login:</p>
            <form method="POST">
                <div id="login_container">
                    <div class="input_container email_container">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="input" autocomplete="off">
                    </div>
                    <div class="input_container password_container">
                        <label for="password">Senha</label>
                        <input type="password" name="password" class="input" autocomplete="off">
                        <a id="forgotten_password" href="forgotten_password">Esqueceu a senha?</a>
                    </div>
                </div>
                <button type="button" id="submit" value="login">Logar</button>
                <a href="register">Ainda não tem conta? Clique aqui!</a>
            </form>
        </div>
    </section>
    <script src="public/scripts/auth.js"></script>
</body>
</html>