<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/auth.css">
    <link rel="stylesheet" href="public/styles/global.css">
    <title>Register</title>
</head>
<body>
    <section id="application">
        <div id="form_container">
            <form>
                <label>E-mail</label>
                <input type="email">
            </form>
        </div>
    </section>
</body>
</html>