<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/auth.css">
    <link rel="stylesheet" href="public/styles/global.css">
    <title>Cadastre-se</title>
</head>
<body>
    <section id="application">
        <div id="form_container">
            <p id="text">Cadastre-se:</p>
            <form method="POST" action="auth/register">
                <div id="register_container">
                    <div class="input_container">
                        <label for="full_name">Nome</label>
                        <input type="name" name="full_name" class="input" autocomplete="off">
                    </div>
                    <div class="input_container">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="input" autocomplete="off">
                    </div>
                    <div class="input_container">
                        <label for="password">Senha</label>
                        <input type="password" name="password" class="input" autocomplete="off">
                    </div>
                    <div class="input_container">
                        <label for="confirm_password">Confirme sua Senha</label>
                        <input type="password" name="confirm_password" class="input" autocomplete="off">
                    </div>
                    <div class="input_container">
                        <label for="admin" id="select_text">É administrador?</label>
                        <select name="admin" id="select">
                            <option value="null">Selecione uma opção</option>
                            <option value="YES">Sim</option>
                            <option value="NO">Não</option>
                        </select>
                    </div>
                </div>
                <button id="submit">Criar</button>
                <a href="login">Já tem conta? Clique aqui!</a>
            </form>
        </div>
    </section>
</body>
</html>