<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/profile.css">
    <link rel="stylesheet" href="../public/styles/global.css">
    <title>My Profile</title>
</head>
<body>
    <section id="application">
        <div id="user_container">
            <div id="user">
                <div id="left_container">
                    <div id="picture_container">
                        <a id="picture" href="account">
                            <img id="user_pic" src="../src/assets/images/profile_pic/default.svg"">
                        </a>
                    </div>
                </div>
                <div id="infos_container">
                    <div class="info_container">
                        <p>{{user.first_name}} {{user.surname}}</p>
                    </div>
                    <div class="info_container">
                        <p>{{user.post}}</p>
                    </div>
                    <div class="info_container">
                        <p>{{user.email}}</p>
                    </div>
                    <div class="info_container">
                        <p>Admin Permission: {{user.is_admin}}</p>
                    </div>
                </div>
            </div>
            <div id="button_container">
                <a id="blue_button" href="../">Voltar</a>
            </div>
        </div>
    </section>
</body>
</html>